[Unit]
Description=jslisten daemon
After=network.target auditd.service

[Service]
Type=idle
ExecStart=/usr/bin/bash -ec "exec /opt/bin/jslisten"
ExecReload=/usr/bin/kill -9 $MAINPID
ExecStop=/usr/bin/kill -9 $MAINPID
KillMode=process
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
